	@media ( max-width: 640px ) {

	#loadingScreen {
		background-image: url(../img/20220412/metacong_bg.jpg);
	}

	#btnEnter {
		width: 140px;
	}

	#btnEnter img.pc {
	  display: none;
	}

	#btnEnter img.mo {
	  display: block;
	}


	.mobile-logo {
	    display: block;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    width: 80%;
	    margin-top: -200px;
	}

	#news {
		display: none;
		width: 70px;
		height: 70px;
		top: 230px;
		right: 10px;
		left: auto;
	}

	#recruit {
		display: none;
		width: 70px;
		height: 70px;
		top: 300px;
		right: 10px;
		left: auto;
	}

	#btn-map {
		width: 110px;
		height: auto;
		background-size: 110px;	
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
	}

	#btn-map .pc {
	  display: none;
	}

	#btn-map .mobile {
	  display: block;
	}

	#assets {
		top: 0;
		left: 0;
		right: 0;
		width: 100vw;
		display: flex;
	}

	#penguinMoney {
		position: relative;
		right: auto;
		width: 18vw;
		top: 15px;
		margin: 0 0 0 20px;
		font-size: 13px;
	    padding: 3px 20px 3px 20px;
	    text-align: center;
	    /*text-align: right;
	    width: 100px;
	    font-size: 28px;*/
	}

	#penguinMoney .icon {
	    width: 26px;
	    left: -9px;
	    top: -4px;
	}

	#gameMoney {
		position: relative;
		right: auto;
		margin: 0 0 0 35px;
		width: 18vw;
		top: 15px;
		font-size: 13px;
		padding: 3px 20px 3px 20px;
		text-align: center;
	    /*text-align: right;
	    width: 100px;
	    font-size: 28px;*/
	}

	#gameMoney .icon {
	    width: 32px;
	    left: -14px;
	    top: -2px;
	}

	#penguinMoney .plus-icon, #gameMoney .plus-icon {
	    width: 24px;
	    right: -12px;
	    top: -1px;
	}

	#mobileMenu {
		position: absolute;
		top: 20px;
		right: 20px;
		display: block;
	}

	#mobileMenu img {
		width: 46px;
	}

	#contentsMenu {
		top: 70px;
		right: 10px;
		transform: translateY(0);
	}

	#contentsMenu li {
		display: none;
		width: 70px;
	}

	#nftShopMobile {
	  display: none;
	  position: fixed;
	  width: 320px;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  z-index: 99;
	}

	#nftShopMobile img {
		width :100%;
		display: block;
	}

	#nftShopMobile #btnCloseShop {
	    z-index: 111;
	    position: fixed;
	    top: -30px;
	    right: 0;
	    width: 36px;
	    height: 36px;
	    background-size: 36px;
	}

	#iglooSwapMobile {
	  display: none;
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  width: 320px;
	  transform: translate(-50%, -50%);
	  z-index: 99;
	}

	#iglooSwapMobile img {
		width: 100%;
	}

	#iglooSwapMobile .wrap-content {
		position: absolute;
		width: 266px;
		height: 400px;
		top: 85px;
		left: 27px;
		overflow: hidden;
	}

	#iglooSwapMobile .wrap-content .box-header {
		position: absolute;
		width: 226px;
		height: 40px;
		padding-right: 20px;
		top: 0;
		left: 20px;
		overflow: scroll;
		-ms-overflow-style: none; /* IE and Edge */
	  	scrollbar-width: none; /* Firefox */
	}

	#iglooSwapMobile .wrap-content .box-header::-webkit-scrollbar {
	    display: none; /* Chrome, Safari, Opera*/
	}

	#iglooSwapMobile .wrap-content .box-staking {
		position: absolute;
		width: 226px;
		height: 360px;
		padding-right: 20px;
		top: 40px;
		left: 20px;
		overflow: scroll;
		-ms-overflow-style: none; /* IE and Edge */
	  	scrollbar-width: none; /* Firefox */
	}

	#iglooSwapMobile .wrap-content .box-staking::-webkit-scrollbar {
	    display: none; /* Chrome, Safari, Opera*/
	}

	#iglooSwapMobile .wrap-content img {
		width: 568px;
	}

	#btnCloseIgloo {
	  width: 36px;
	  height: 36px;
	  position: absolute;
	  top: -30px;
	  right: 0;
	  background-image: url(../img/swap/cl.png);
	  background-position: center;
	  background-size: 36px;
	  background-repeat: no-repeat;
	  border: 0;
	  background-color: transparent;
	  cursor: pointer;
	  z-index: 1111;
	}

	#contentModal {
		display: none;
		/*left: 5%;
		right: 5% !important;*/
		bottom: 110px;
	}

	#contentModal.open {
		display: block;
	}

	#closeContentModal img {
		width: 90vw;
	}

	#closeContentModal {
		width: 100%;
	}

	#questBoxMobile {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 99;
	}

	#questBoxMobile .btn-quest-list img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	    width: 360px;
	    height: 640px;
	    border-radius: 20px;
	}

	#questBoxMobile .box-pic {
	    position: absolute;
	    z-index: 11;
	    top: 0px;
	    left: 50%;
	    transform: translateX(-50%);
	}

	.box-quest-detail {
		display: none;
	    width: 360px;
	    height: 640px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}

	.box-quest-detail .box-bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .5);
		border-radius: 20px;
	}

	.box-quest-detail .box-text img {
		width: 100%;
	}

	.box-quest-detail .box-bg img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	    width: 100%;
	}

	.box-quest-detail .box-text {
	    position: absolute;
	    top: 200px;
	    left: 50px;
	    right: 20px;
	    bottom: 170px;
	    z-index: 1;
	    overflow: scroll;
	}

	.box-quest-detail .box-btn {
	    position: absolute;
	    width: 60vw;
	    bottom: 90px;
	    z-index: 1;
	    left: 50%;
	    text-align: center;
	    transform: translateX(-50%);
	}

	#btnCloseQuestMobile {
		position: absolute;
		top: 15px;
		right: 15px;
		width: 30px;
		height: 30px;
		border: none;
		outline: none;
		padding: 0;
		background: none;
		z-index: 3;
	}

	#btnCloseQuestMobile img {
		width: 100%;
	}

	#btnCloseQuestDetailMobile {
		position: absolute;
		top: 15px;
		right: 15px;
		width: 30px;
		height: 30px;
		border: none;
		outline: none;
		padding: 0;
		background: none;
		z-index: 53;
	}

	#btnCloseQuestDetailMobile img{
		width: 100%;
	}

	#governanceMobileModal {
		display: none;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 320px;
		z-index: 100;
	}

	#governanceMobileModal img {
		width: 100%;
		display: block;
	}

	#governanceMobileModal .wrap-content {	
	    position: absolute;
	    top: 150px;
	    left: 25px;
	    right: 25px;
	    bottom: 115px;
	    z-index: 111;
	    overflow: scroll;
	}

	#btnCloseGovernanceMobile {
		position: absolute;
		top: -30px;
		right: 0;
		width: 36px;
		height: 36px;
		z-index: 111;
		padding: 0;
		background: none;
		outline: none;
		border: none;
	}

	#btnCloseGovernanceMobile img {
		width: 100%;
	}

	.arrow-left {
		width: 12px;
	}

	.arrow-right {
		width: 12px;
	}

	.ul-money {
		display: flex;
		padding: 0 0 15px;
		list-style: none;
		gap: 15px;
	}

	.ul-money li {
		width: 50%;
	}

	.ul-money li img {
		width: 100%;
	}

	.box-arrow1 {
		display: none;
		position: absolute;
	    top: 181px;
	    left: 135px;
	    right: 30px;
		display: flex;
		justify-content: space-between;
		z-index: 111;
	}

	.box-arrow2 {
		display: none;
		position: absolute;
		top: 181px;
	    left: 180px;
	    right: 30px;
		display: flex;
		justify-content: space-between;
	}

	.box-guage #gauge {
		top: 3px;
	    height: 11px;
	}

	#preparingModal {
		width: 320px;
	}

	.pc-logo {
		width: 172px;
	}

	#leftUi .btn-discord, #leftUi .btn-twitter {
		width: 50px;
	}

	#leftUi .btn-discord {
		bottom: 80px;
	}

	.img-pc {
		display: none !important;
	}

	.img-mobile {
		display: block !important;
	}

	.box-intro-modal,
	.box-luniverse-modal,
	.box-hiddenmission-modal,
	.box-nft-modal,
	.box-defi-modal,
	.box-synthetics-modal,
	.box-aggregator-modal,
	.box-world-modal,
	.box-partnership-modal, 
	.box-roadmap-modal,
	.box-housing-modal,
	.box-launchpad-modal {
		width: 320px;
	}

	.box-intro-modal .btn-close {
		width: 140px;
		height: 40px;
		bottom: 13px;
		left: 20px;			
	}

	.box-intro-modal .btn-description {
    width: 140px;
    height: 40px;
    bottom: 12px;
    right: 20px;
	}

	.box-luniverse-modal .btn-twitter {
    left: 70px;
    bottom: 100px;
	}

	.box-luniverse-modal .btn-discord {
	    left: 70px;
	    bottom: 155px;
	}

	.box-luniverse-modal .btn-close {
    width: 140px;
    height: 44px;
    left: 90px;
    bottom: 12px;
	}

	.box-aggregator-modal .box-action,
	.box-world-modal .box-action,
	.box-synthetics-modal .box-action {
	    bottom: -70px;
	}

	.box-defi-modal .btn-close,
	.box-synthetics-modal .btn-close,
	.box-aggregator-modal .btn-close,
	.box-world-modal .btn-close,
	.box-roadmap-modal .btn-close,
	.box-housing-modal .btn-close,
	.box-launchpad-modal .btn-close {
	    right: 0px;
	    top: -70px;
	}

	.box-hiddenmission-modal img {
		width: 100%;
	}

	.box-hiddenmission-modal .btn-copy {
    width: 261px;
    height: 60px;
    left: 30px;
    bottom: 80px;
	}

	.box-hiddenmission-modal .btn-close {
    width: 140px;
    height: 42px;
    left: 90px;
    bottom: 26px;
	}	

	.box-nft-modal .img-mobile > div {
		position: relative;
		display: none;
	}

	.box-nft-modal .img-mobile > div.show {
		display: block !important;
	}

	.box-nft-modal .img-mobile > div .box-content {
    position: absolute;
    top: 108px;
    left: 27px;
    right: 26px;
    height: 340px;
    overflow: scroll;
    border-radius: 10px;
	}

	.box-nft-modal .img-mobile > div .box-content img {
		width: 100%;
	}

	.box-nft-modal img {
		display: block !important;
	}

	.box-partnership-modal .img-mobile > .box-content {
    position: absolute;
    top: 75px;
    left: 27px;
    right: 26px;
    height: 390px;
    overflow: scroll;
    border-radius: 10px;
	}

	.box-partnership-modal .img-mobile > .box-content img {
		width: 100%;
	}

	.box-nft-modal .box-tab-menu {
		display: flex;
    top: 70px;
    left: 27px;
    right: 27px;
	}

	.box-nft-modal .box-tab-menu a {
    display: inline-block;
    width: 25%;
    height: 31px;
    margin: 0; 
	}	

	.box-nft-modal .box-action-type1 a.btn-next {
    position: absolute;
    bottom: 22px;
    right: 22px;
    left: auto;
    display: block;
    width: 135px;
    height: 40px;
	}

	.box-nft-modal .box-action-type1 a.btn-close {
    position: absolute;
    bottom: 22px;
    left: 22px;
    display: block;
    width: 135px;
    height: 40px;
	}

	.box-nft-modal .box-action-type2 {
		overflow: hidden;
    position: absolute;
    bottom: 22px;
    left: 22px;
    right: 23px;
	}

	.box-nft-modal .box-action-type2 a {
		display: block;
		float: left;
		width: 50%;
		height: 40px;
		margin: 0;
	}

	.box-nft-modal .box-action-type3 a {
    bottom: 27px;
    left: 92px;
    width: 137px;
    height: 40px;
	}

	.box-nft-modal .box-action-type3 a.btn-copy {
    bottom: 90px;
    left: 38px;
    width: 244px;
    height: 41px;
	}
	
	.box-partnership-modal .box-close-action {
		left: 89px;
	    bottom: 28px;
	    width: 142px;
	    height: 42px;
	}

	#contactus {
	    display: none;
	    width: 70px;
	    height: 70px;
	    top: 300px;
	    right: 10px;
	    left: auto;
	}

	#contactus img {
		width: 100%;
	}
}