html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR',
        sans-serif;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.button-side {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: var(--button-color);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    display: inline-block;
    width: auto;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: .5s;
    margin: 0;
    padding: 2rem 1.2rem 1.8rem;
}

ul,ol,li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.button-big {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    font-size: .9rem;
}

#renderCanvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
}

.wrap li .box-info {
    display: flex;
    padding: 20px 35px;
}

.wrap li .box-txt {
    width: 100%;
    padding-bottom: 50px;
}

.wrap li .box-txt p {

    text-overflow: ellipsis;
    margin: 10px;
}

.wrap li .box-txt input {
    width: 248px;
    background-color: white;
    border-color: #e3e3e3;
}

.wrap li .box-txt .button-close {
    left: 47%;
    position: sticky;
    width: 100px;
    background-color: black;
    color: white;
    bottom: 30px;
}

.ul-top {
    position: absolute;
    top: 10px;
    width: 100%;
}

.ul-left {
    position: absolute;
}

.ul-right {
    position: absolute;
    top: 10%;
    right: -40px;
}

.ul-bottom {
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 0;
}

.wrap-left {
    float: left;
    padding-bottom: 15px;
}

.wrap-right {
    float: right;
    padding-right: 80px;
    padding-bottom: 15px;
}

.wrap-center {
    text-align: center;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.modal2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

select {
    border-radius: 0;
    /*아이폰사파리보더없애기*/-webkit-appearance: none;
    /*화살표없애기forchrome*/-moz-appearance: none;
    /*화살표없애기forfirefox*/appearance: none        /* 화살표 없애기 공통*/;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

select::-ms-expand {
    display: none
        /* 화살표 없애기 for IE10, 11*/
}

h2 {
    margin-block-end: 0.3em;
}

.video-select {
    padding-bottom: 10px;
}

video {
    border-radius: 15px;
}

.wrap li.li-chatting {
    position: fixed;
    display: block;
    left: -40px;
    top: 15%;
    height: 500px;
    background: #00000073;
    color: white;
    border-radius: 50px;
}

.button-chatting {
    top: 40%;
    position: fixed;
}

#chatContent {
    height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
}

#chatContent::-webkit-scrollbar {
    width: 6px;
}

#chatContent::-webkit-scrollbar-thumb {
    background-color: #ccc;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#chatContent::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#chatContent div {
    padding-top: 15px;
    font-size: 15px;
}

.button-video {
    left: 10%;
    position: absolute;
}

.button-side img {
    height: 30px;
}

#intro {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url(../img/intro.jpg);
    background-position: center;
    background-size: cover;
    z-index: 101;
}

.intro_ment {
    position: absolute;
    left: 50%;
    bottom: 60%;
    transform: translate(-50%, 0);
    height: 30px;
    text-align: center;
    color: black;
    animation: fadeout 2s 1s infinite linear alternate;
    -moz-animation: fadeout 2s 1s infinite linear alternate;
    /* Firefox */
    -webkit-animation: fadeout 2s 1s infinite linear alternate;
    /* Safari and Chrome */
    -o-animation: fadeout 2s 1s infinite linear alternate;
    /* Opera */
}

.fadeout {
    animation: fadeout 2s;
    -moz-animation: fadeout 2s;
    /* Firefox */
    -webkit-animation: fadeout 2s;
    /* Safari and Chrome */
    -o-animation: fadeout 2s;
    /* Opera */
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-o-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

