/* chatting */
#chatIcon {
  position: absolute;
  top: 50%;
  left: 1%;
  cursor: pointer;
  border: 0;
  background: 0;
}
#chatIcon img {
  width: 70px;
}
#chattingBox {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: -50%;
  width: 25%;
  min-width: 200px;
  max-width: 320px;
  overflow: hidden;
  padding: 15px 30px 15px 5px;
  border-radius: 0 15px 15px 0;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  -ms-border-radius: 0 15px 15px 0;
  -o-border-radius: 0 15px 15px 0;
  background-color: rgba(0,0,0,0.7);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}
#chattingBox.open {
  opacity: 1;
  left: 0;
}
#chatContent {
  min-height: 400px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
#chatContent li {
  background-color: transparent;
  color: #B5B5B5;
  font-size: 13px;
  margin: 0;
  width: 100%;
  padding: 5px 0 5px 5px;
}
#chatContent li.user {
  color: #62ADF2;
}
#chatContent li.user-chat strong,
#chatContent li.my-chat strong {
  font-size: 14px;
}
#chatContent li.my-chat strong {
  color: #46E358;
}
#chatContent li .moment {
  font-size: 12px;
  padding: 0 0 0 3px;
}
#chatContent li .speak {
  font-size: 13px;
  margin: 5px 0 0;
}
#btnCloseChattingBox {
  border: 0;
  background: none;
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
  padding: 12px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#btnCloseChattingBox img {
  width: 10px;
}

/* right */
#assets {
  position: absolute;
  top: 2%;
  right: 2%;
}
#penguinMoney,
#gameMoney {
  position: relative;
  padding: 3px 35px 3px 15px;
  text-align: right;
  width: 100px;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  border: 2px solid #000;
  background-color:rgba(0,0,0,0.7);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
#gameMoney {
  margin: 0 0 0 35px;
}
#penguinMoney img,
#gameMoney img {
  position: absolute;
}
#penguinMoney .icon {
  width: 35px;
  left: -3px;
  top: -5px;
}
#gameMoney .icon {
  width: 50px;
  left: -14px;
  top: -6px;
}
#penguinMoney .plus-icon,
#gameMoney .plus-icon {
  width: 33px; 
  right: -6px;
  top: -2px;
}
#contentsMenu {
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 35%;
  right: 1%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#contentsMenu li {
  width: 84px;
  margin: 0 0 15px;
}
#contentsMenu li img {
  display: block;
  width: 100%;
}

/* left */
#leftUi ul {
  position: absolute;
  top: 1%;
  left: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#leftUi ul li {
  margin: 0 5px 0 0;
}
#leftUi ul button {
  border: 0;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  display: block;
  cursor: pointer;
}
#setting {
  width: 32px;
  height: 32px;
  background-image: url(../img/ui/20220304/setting_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 17px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#connect {
  width: 90px;
  height: 32px;
  background-image: url(../img/ui/20220304/connect_icon.png);
  background-position: 11px center;
  background-repeat: no-repeat;
  background-size: 12px;
  border-radius: 15px;
  text-align: right;
  padding: 0 11px 0 0;
}
#invite {
  width: 90px;
  height: 32px;
  background-image: url(../img/ui/20220304/invite_icon.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 16px;
  border-radius: 15px;
  font-size: 13px;
  text-align: right;
  padding: 0 13px 0 0;
}
#news {
  position: absolute;
  width: 84px;
  height: 84px;
  top: 8%;
  left: 1%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
#news img {
  width: 100%;
}
#recruit {
  position: absolute;
  width: 84px;
  height: 84px;
  top: 19%;
  left: 1%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
#recruit img {
  width: 82%;
}
/* bottom ui */
#uiBottom {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#toggle-mic,
#toggle-video,
#emoticon {
  width: 50px;
  height: 50px;
  padding: 15px;
  margin: 0 5px 0 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: rgba(0,0,0,0.6);
  border: 0;
  cursor: pointer;
}
#toggle-mic {
  background-image: url(../img/ui/20220304/mc_off_icon.png);
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
#toggle-mic.on {
  background-image: url(../img/ui/20220304/mc_on_icon.png);
}
#toggle-video {
  background-image: url(../img/ui/20220304/camera_off_icon.png);
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
#toggle-video.on {
  background-image: url(../img/ui/20220304/camera_on_icon.png);
}
#emoticon {
  background-image: url(../img/ui/20220304/emoji_icon.png);
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
#emoticonBox {
  position: absolute;
  bottom: 135%;
  right: -18%;
  background: rgba(0, 0, 0, 0.6);
  border: 0;
  padding: 0px;
  display: none;
  border-radius: 2px;
}
.emotion-btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 35px;
  height: 35px;
  font-size: 22px;
  cursor: pointer;
}
#chatMsg {
  height: 36px;
  width: 400px;
  padding: 5px 15px;
  margin: 0 5px 0 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 0;
  color: #fff;
  font-size: 15px;
}
#chatMsg::placeholder {
  color: #ddd;
}

/* modal ui */
#fog {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 98;
  transition: all 3s ease-in-out;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -ms-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
}
#fog.disapear {
  opacity: 0;
  z-index: -1;
}
#dimLayer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 98;
}
#settingBox {
  position: absolute;
  width: 700px;
  height: 530px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  background-image: url(../img/ui/20220304/setting_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 99;
}
#localVideoContainer {
  display: none;
  position: absolute;
  top: 22%;
  left: 11%;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}
#displayCameraOff {
  position: absolute;
  width: 175px;
  top: 22%;
  left: 11%;
}
#displayCameraOff img {
  width: 100%;
  display: block;
}
#localVideoContainer #localVideo {
  width: 135%;
  height: 135%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#settingBox #name {
  position: absolute;
  bottom: 30.3%;
  left: 4.5%;
  height: 42px;
  width: 200px;
  border: 0;
  border-radius: 8px;
  background-color: transparent;
  padding: 5px 10px;
  box-sizing: border-box;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
#settingBox #name.invalid {
  border: 2px solid #E50000;
  outline: none;
}
#alert {
  display: none;
  position: absolute;
  font-size: 11px;
  color: #E50000;
  top: 70.4%;
  left: 5%;
}
#alert.active {
  display: block;
}
#settingBox #videoList,
#settingBox #micList,
#settingBox #audioList {
  position: absolute;
  border: 0;
  background: transparent;
  outline: none;
  height: 30px;
  width: 210px;
}
#settingBox #videoList {
  top: 64.2%;
  right: 11%;
}
#settingBox #micList {
  top: 26.5%;
  right: 13%;
}
#settingBox #audioList {
  top: 45.5%;
  right: 13%;
}
#btnUpdateNick {
  width: 65px;
  height: 36px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 62.5%;
  left: 34%;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  background-image: url(../img/ui/20220304/btn_edit_off.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65px;
}
#btnUpdateNick.on {
  background-image: url(../img/ui/20220304/btn_edit_on.png);
}
#btnUpdateNickEN {
  width: 65px;
  height: 36px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 62.5%;
  left: 34%;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  background-image: url(../img/20220309/btn_edit_off.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65px;
}
#btnUpdateNickEN.on {
  background-image: url(../img/20220309/btn_edit_on.png);
}

#btnCompleteSet {
  width: 185px;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  position: absolute;
  bottom: 13.5%;
  right: 13.5%;
  cursor: pointer;
}
#btnUpdateNick img,
#btnCompleteSet img {
  display: block;
  width: 100%;
}
#setCameraStauts, 
#setMicStatus {
  position: absolute;
  width: 74px;
  height: 27px;
  border: 0;
  background-color: transparent;
  background-image: url(../img/ui/20220304/off_btn.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 74px;
  cursor: pointer;
}
#setCameraStauts.on,
#setMicStatus.on {
  background-image: url(../img/ui/20220304/on_btn.png);
}
#setCameraStauts {
  bottom: 10.5%;
  left: 28%;
}
#setMicStatus {
  bottom: 17%;
  left: 28%;
}
#shareScreen {
  display: none;
  position: absolute;
  width: 460px;
  left: 50%;
  top: 50%;
  padding: 20px;
  box-sizing: border-box;
  border: 6px solid #EED699;
  background-color: #f4f1e6;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  z-index: 99;
}
#shareScreen h3 {
  margin: 0;
}
#shareScreen h4 {
  margin: 0 0 10px;
  font-weight: 400;
}
#btnCloseShare {
  background-image: url(../img/ui/20220304/close_screen.png);
  background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}
#shareOwn {
  margin: 20px 0;
}
#shareOwn .button-start {
  width: 244px;
  height: 40px;
  background-image: url(../img/ui/20220304/bt_bw_sh.png);
  background-position: center;
  background-size: 240px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}
#shareOwn .button-start:hover {
  background-image: url(../img/ui/20220304/bt_bw_sh_over.png);
}

#shareMedia input {
  width: 270px;
  background-color: #fff;
  border: 1px solid #D6D6D6;
  height: 38px;
  border-radius: 5px;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 15px;
}
#shareMedia button {
  width: 94px;
  height: 38px;
  background-image: url(../img/ui/20220304/bt_sh_df.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 94px;
  border: 0;
  vertical-align: -12px;
  cursor: pointer;
}
#shareMedia button:hover {
  background-image: url(../img/ui/20220304/bt_sh_over.png);
}
#shareCam {
  margin: 20px 0;
}
#shareCam #localVideo {
  width: 270px;
}
#shareCam button {
  position: static;
  margin: 0 0 0 5px;
  width: 94px;
  height: 38px;
  background-image: url(../img/ui/20220304/bt_sh_df.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 94px;
  border: 0;
  cursor: pointer;
}
#shareCam button:hover {
  background-image: url(../img/ui/20220304/bt_sh_over.png);
}
#stopShare {
  display: block;
  margin: 10px auto 10px 0;
  width: 100px;
  height: 50px;
  background-image: url(../img/ui/20220304/btn_stop.png);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100px;
  border: 0;
  cursor: pointer;
}

/* 영문버전 */
#shareOwnEN {
  margin: 20px 0;
}
#shareOwnEN .button-start {
  width: 244px;
  height: 40px;
  background-image: url(../img/20220309/share_sc_bt_off_en.png);
  background-position: center;
  background-size: 240px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}
#shareOwnEN .button-start:hover {
  background-image: url(../img/20220309/share_sc_bt_on_en.png);
}
#stopShareEN {
  display: block;
  margin: 10px auto 10px 0;
  width: 100px;
  height: 50px;
  background-image: url(../img/ui/20220304/bt_stop_share.png);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100px;
  border: 0;
  cursor: pointer;
}
#shareMediaEN button {
  width: 94px;
  height: 38px;
  background-image: url(../img/20220309/share_bt_off_en.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 94px;
  border: 0;
  vertical-align: -12px;
  cursor: pointer;
}
#shareMediaEN button:hover {
  background-image: url(../img/20220309/share_bt_on_en.png);
}

#shareMediaEN input {
  width: 270px;
  background-color: #fff;
  border: 1px solid #D6D6D6;
  height: 38px;
  border-radius: 5px;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 15px;
}

#shareCamEN {
  margin: 20px 0;
}
#shareCamEN #localVideo {
  width: 270px;
}
#shareCamEN button {
  position: static;
  margin: 0 0 0 5px;
  width: 94px;
  height: 38px;
  background-image: url(../img/20220309/share_bt_off_en.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 94px;
  border: 0;
  cursor: pointer;
}
#shareCamEN button:hover {
  background-image: url(../img/20220309/share_bt_on_en.png);
}
#stopShareEN {
  display: block;
  margin: 10px auto 10px 0;
  width: 100px;
  height: 50px;
  background-image: url(../img/20220309/stop_bt_en.png);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100px;
  border: 0;
  cursor: pointer;
}
/* 영문버전 */

#nftShop {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  z-index: 99;
}


#governanceModal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  z-index: 99;
}

#keyGuideModal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 640px;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  z-index: 99;
}

#btnCloseShop {
  position: absolute;
  top: 18.5%;
  right: -3%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(../img/ui/20220304/btn_close_quest.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
  border: 0;
  cursor: pointer;
}
#nftShop img {
  display: block;
  width: 100%;
}

#btnCloseGovernance {
  position: absolute;
  top: -1.5%;
  right: -5%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(../img/ui/20220304/btn_close_quest.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
  border: 0;
  cursor: pointer;
}
#governanceModal img {
  display: block;
  width: 100%;
}

#keyGuideModal img {
  display: block;
  width: 100%;
}

#btnCloseKeyGuideModal {
  position: absolute;
  top: 0%;
  right: -10%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(../img/ui/20220304/btn_close_quest.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
  border: 0;
  cursor: pointer;
}

/* slide ui */
#iglooSwap {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 960px;
  z-index: 99;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#iglooSwap ul img {
  width: 100%;
  display: block;
}
#iglooSwap .tab-content {
  display: none;
}
#iglooSwap .tab-content:nth-child(1) {
  display: block;
}
#iglooSwap .tab-btn {
  position: absolute;
  top: 22%;
  width: 16.5%;
  height: 6%;
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
#iglooSwap .btn1 {
  right: 44.4%;
}
#iglooSwap .btn2 {
  right: 26.4%;
}
#iglooSwap .btn3 {
  right: 9.3%;
}
#btnCloseIgloo {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5%;
  right: -6%;
  background-image: url(../img/swap/cl.png);
  background-position: center;
  background-size: 38px;
  background-repeat: no-repeat;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
#questBox {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1100px;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  z-index: 99;
}
#questBox img {
  display: block;
  width: 100%;
}
#btnAgree {
  position: absolute;
  bottom: 11.7%;
  right: 11.4%;
  width: 210px;
  height: 64px;
  border: 0;
  cursor: pointer;
}
#btnCloseQuest {
  position: absolute;
  top: -2.5%;
  right: 0%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(../img/ui/20220304/btn_close_quest.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
  border: 0;
  cursor: pointer;
}

/* intro */
#introBtn {
  display: none;
  width: 225px;
  height: 65px;
  background-image: url(../img/ui/20220304/btn_intro.png);
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  background-color: transparent;
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  cursor: pointer;
}

/* npc popup */
.popup {
  display: none;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 1100px;
  z-index: 99;
}
.popup img {
  display: block;
  width: 100%;
}
.popup .page1,
.popup .page2 {
  display: none;
}
#btnCloseCz,
#btnCloseHz {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0;
  top: 30%;
  right: 2%;
}
.btn-next-page {
  position: absolute;
  width: 55px;
  height: 55px;
  padding: 0;
  bottom: 11%;
  right: 2%;
}
.box-lang {
  height: 32px;
  padding: 0 10px 0 28px;
  background-image: url(../img/ui/20220304/language_icon.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 14px;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
}

.box-lang a {
  display: flex;
  padding: 0 3px;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
}

.box-lang a.on {
  color:#7dc12b ;
}

.box-lang a + a::before {
  position: relative;
  top: 5px;
  margin-right: 5px;
  display: flex;
  width: 1px;
  height: 10px;
  content: "";
  background-color: rgba(255,255,255,0.6);
}

#btn-map {
  position: absolute;
  top: 31%;
  left: 2%;
}

#btn-map img {
  width: 60px;
}


/* 0309 영문 추가 */
#status {
  position: absolute;
  top: 38%;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#btnEnter {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  text-align: center;
  font-size: 20px;
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#btnEnter img {
  width: 100%;
}

#loadingScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/loading.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 200;
  transition: all 1s;
}

#loadingScreen.disapear {
  opacity: 0;
  z-index: -1;
}

#loadingBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7%;
  background-color: #213e752f;
}

.box-guage {
  position: absolute;
  top: 45%;
  width: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.box-guage img {
  width: 100%;
}

.box-guage #gauge {
  position: absolute;
  top: 18%;
  left: 1.6%;
  width: 10%;
  height: 53%;
  background-image: url(../img/20220309/loding.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  transition: all 4s ease-in;
  -webkit-transition: all 4s ease-in;
  -moz-transition: all 4s ease-in;
  -ms-transition: all 4s ease-in;
  -o-transition: all 4s ease-in;
}


#gauge.inter {
  width: 65%;
}

#gauge.done {
  width: 96.6%;
  background-size: 100% 100%;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}