html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  outline: none;
  z-index: 1;
}

#loadingScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/20220412/metacong_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 200;
  transition: all 1s;
}

#loadingScreen.disapear {
  opacity: 0;
  z-index: -1;
}

#loadingBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7%;
  background-color: #213e752f;
}

.box-guage {
  position: absolute;
  top: 45%;
  width: 200px;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.box-guage img {
  width: 100%;
}

.box-guage #gauge {
  position: absolute;
  top: 14%;
  left: 1.6%;
  width: 10%;
  height: 53%;
  background-image: url(../img/20220321/loding_2.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
}


#gauge.inter {
  width: 65%;
}

#gauge.done {
  width: 96.6%;
  background-size: 100% 100%;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

#textArea {
  position: absolute;
  top: 36%;
  left: 0;
  width: 100%;
}

#serviceTitle img {
  display: block;
  width: 50%;
  max-width: 640px;
  padding-left: 30px;
  margin-right: auto;
}

#screenTitle {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 4px 4px 3px #ddd;
  font-size: 6vw;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#status {
  position: absolute;
  top: 38%;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#btnEnter {
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);
  width: 200px;
  text-align: center;
  font-size: 20px;
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#btnEnter img {
  width: 100%;
}

#btnEnter img.mo {
  display: none;
}

/* content modal */
#contentModal {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}
#contentModal.open {
  /*right: 0;*/
}
#contentModal h3 {
  margin: 0;
  padding: 65px 10px 10px;
  border-bottom: 2px dashed #ddd;
}
#contentModal .desc {
  padding: 10px;
  margin: 0;
}
#closeContentModal img {
  display: block;
  width: 70vw;
}
#closeContentModal {
  display: block;
  width: 70%;
  /*margin: 0 auto;*/
  cursor: pointer;
}
#mediaModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 992;
}
video {
  width: 100%;
  height: 100%;
}
#mediaClose {
  position: absolute;
  top: -40px;
  right: 0;
  width: 35px;
  height: 35px;
}
#mediaClose img {
  display: block;
  width: 100%;
}
#dimLayer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 991;
}
#dimLayer.show {
  display: block;
}
#serviceInfo {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}
#serviceInfo img {
  width: 200px;
}
#serviceInfoContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 992;
}
#serviceInfoContainer.show {
  display: block;
}

.pc-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 305px;
  display: block;
}

.pc-logo img {
  width: 100%;
  display: block;
}

#penguinSwap {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  z-index: 992;
}
#penguinSwap.show {
  display: block;
}

/* swiper css */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#penguinSwap .swiper-button-next,
#penguinSwap .swiper-button-prev {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}
#penguinSwap .swiper-button-next {
  background-image: url(./assets/img/arr-right.png);
}
#penguinSwap .swiper-button-prev {
  background-image: url(./assets/img/arr-left.png);
}

#serviceInfoContainer .swiper-button-next,
#serviceInfoContainer .swiper-button-prev {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}

#serviceInfoContainer .swiper-button-next {
  background-image: url(./assets/img/arr-right-o.png);
}

#serviceInfoContainer .swiper-button-prev {
  background-image: url(./assets/img/arr-left-o.png);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}



/* UI style */
/* chatting */
#chatIcon {
  position: absolute;
  top: 50%;
  left: 1%;
  cursor: pointer;
  border: 0;
  background: 0;
}
#chatIcon img {
  width: 70px;
}
#chattingBox {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: -50%;
  width: 25%;
  min-width: 200px;
  max-width: 320px;
  overflow: hidden;
  padding: 15px 30px 15px 5px;
  border-radius: 0 15px 15px 0;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  -ms-border-radius: 0 15px 15px 0;
  -o-border-radius: 0 15px 15px 0;
  background-color: rgba(0,0,0,0.7);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}
#chattingBox.open {
  opacity: 1;
  left: 0;
}
#chatContent {
  min-height: 400px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
#chatContent li {
  background-color: transparent;
  color: #B5B5B5;
  font-size: 13px;
  margin: 0;
  width: 100%;
  padding: 5px 0 5px 5px;
}
#chatContent li.user {
  color: #62ADF2;
}
#chatContent li.user-chat strong,
#chatContent li.my-chat strong {
  font-size: 14px;
}
#chatContent li.my-chat strong {
  color: #46E358;
}
#chatContent li .moment {
  font-size: 12px;
  padding: 0 0 0 3px;
}
#chatContent li .speak {
  font-size: 13px;
  margin: 5px 0 0;
}
#btnCloseChattingBox {
  border: 0;
  background: none;
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
  padding: 12px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#btnCloseChattingBox img {
  width: 10px;
}

/* right */
#assets {
  display: flex;
  position: absolute;
  top: 2%;
  right: 2%;
}

#contentsMenu {
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 170px;
  right: 20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
#contentsMenu li {
  width: 120px;
  margin: 0 0 15px;
}
#contentsMenu li img {
  display: block;
  width: 100%;
}

/* left */
#leftUi ul {
  position: absolute;
  top: 1%;
  left: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#leftUi ul li {
  margin: 0 5px 0 0;
}
#leftUi ul button {
  border: 0;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  display: block;
  cursor: pointer;
}
#setting {
  width: 32px;
  height: 32px;
  background-image: url(../img/ui/20220304/setting_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 17px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#connect {
  width: 90px;
  height: 32px;
  background-image: url(../img/ui/20220304/connect_icon.png);
  background-position: 11px center;
  background-repeat: no-repeat;
  background-size: 12px;
  border-radius: 15px;
  text-align: right;
  padding: 0 11px 0 0;
}

#invite {
  width: 90px;
  height: 32px;
  background-image: url(../img/ui/20220304/invite_icon.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 16px;
  border-radius: 15px;
  font-size: 13px;
  text-align: right;
  padding: 0 13px 0 0;
}

#news {
  position: absolute;
  width: 104px;
  height: 104px;
  top: 120px;
  left: 20px;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
}

#news img{
  width: 100%;
}

#recruit {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 230px;
  left: 20px;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
}

#recruit img{
  width: 100%;
}

/* bottom ui */
#uiBottom {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#toggle-mic,
#toggle-video,
#emoticon {
  width: 50px;
  height: 50px;
  padding: 15px;
  margin: 0 5px 0 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: rgba(0,0,0,0.6);
  border: 0;
  cursor: pointer;
}
#toggle-mic {
  background-image: url(../img/ui/20220304/mc_off_icon.png);
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
#toggle-mic.on {
  background-image: url(../img/ui/20220304/mc_on_icon.png);
}
#toggle-video {
  background-image: url(../img/ui/20220304/camera_off_icon.png);
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
#toggle-video.on {
  background-image: url(../img/ui/20220304/camera_on_icon.png);
}
#emoticon {
  background-image: url(../img/ui/20220304/emoji_icon.png);
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
#emoticonBox {
  position: absolute;
  bottom: 135%;
  right: -18%;
  background: rgba(0, 0, 0, 0.6);
  border: 0;
  padding: 0px;
  display: none;
  border-radius: 2px;
}
.emotion-btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 35px;
  height: 35px;
  font-size: 22px;
  cursor: pointer;
}
#chatMsg {
  height: 36px;
  width: 400px;
  padding: 5px 15px;
  margin: 0 5px 0 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 0;
  color: #fff;
  font-size: 15px;
}
#chatMsg::placeholder {
  color: #ddd;
}

/* modal ui */
#fog {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 98;
  transition: all 3s ease-in-out;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -ms-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
}
#fog.disapear {
  opacity: 0;
  z-index: -1;
}
#dimLayer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 98;
}
#settingBox {
  position: absolute;
  width: 700px;
  height: 530px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  background-image: url(../img/ui/20220304/setting_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 99;
}
#localVideoContainer {
  display: none;
  position: absolute;
  top: 22%;
  left: 11%;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}
#displayCameraOff {
  position: absolute;
  width: 175px;
  top: 22%;
  left: 11%;
}
#displayCameraOff img {
  width: 100%;
  display: block;
}
#localVideoContainer #localVideo {
  width: 135%;
  height: 135%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#settingBox #name {
  position: absolute;
  bottom: 30.3%;
  left: 4.5%;
  height: 42px;
  width: 200px;
  border: 0;
  border-radius: 8px;
  background-color: transparent;
  padding: 5px 10px;
  box-sizing: border-box;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
#settingBox #name.invalid {
  border: 2px solid #E50000;
  outline: none;
}
#alert {
  display: none;
  position: absolute;
  font-size: 11px;
  color: #E50000;
  top: 70.4%;
  left: 5%;
}
#alert.active {
  display: block;
}
#settingBox #videoList,
#settingBox #micList,
#settingBox #audioList {
  position: absolute;
  border: 0;
  background: transparent;
  outline: none;
  height: 30px;
  width: 210px;
}
#settingBox #videoList {
  top: 64.2%;
  right: 11%;
}
#settingBox #micList {
  top: 26.5%;
  right: 13%;
}
#settingBox #audioList {
  top: 45.5%;
  right: 13%;
}
#btnUpdateNick {
  width: 65px;
  height: 36px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 62.5%;
  left: 34%;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  background-image: url(../img/ui/20220304/btn_edit_off.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65px;
}
#btnUpdateNick.on {
  background-image: url(../img/ui/20220304/btn_edit_on.png);
}
#btnCompleteSet {
  width: 185px;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  position: absolute;
  bottom: 13.5%;
  right: 13.5%;
  cursor: pointer;
}
#btnUpdateNick img,
#btnCompleteSet img {
  display: block;
  width: 100%;
}
#setCameraStauts, 
#setMicStatus {
  position: absolute;
  width: 74px;
  height: 27px;
  border: 0;
  background-color: transparent;
  background-image: url(../img/ui/20220304/off_btn.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 74px;
  cursor: pointer;
}
#setCameraStauts.on,
#setMicStatus.on {
  background-image: url(../img/ui/20220304/on_btn.png);
}
#setCameraStauts {
  bottom: 10.5%;
  left: 28%;
}
#setMicStatus {
  bottom: 17%;
  left: 28%;
}
#shareScreen {
  display: none;
  position: absolute;
  width: 460px;
  left: 50%;
  top: 50%;
  padding: 20px;
  box-sizing: border-box;
  border: 6px solid #EED699;
  background-color: #f4f1e6;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  z-index: 99;
}
#shareScreen h3 {
  margin: 0;
}
#shareScreen h4 {
  margin: 0 0 10px;
  font-weight: 400;
}
#btnCloseShare {
  background-image: url(../img/ui/20220304/close_screen.png);
  background-size: 35px;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}
#shareOwn {
  margin: 20px 0;
}
#shareOwn .button-start {
  width: 244px;
  height: 40px;
  background-image: url(../img/ui/20220304/bt_bw_sh.png);
  background-position: center;
  background-size: 240px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}
#shareOwn .button-start:hover {
  background-image: url(../img/ui/20220304/bt_bw_sh_over.png);
}
#shareMedia input {
  width: 270px;
  background-color: #fff;
  border: 1px solid #D6D6D6;
  height: 38px;
  border-radius: 5px;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 15px;
}
#shareMedia button {
  width: 94px;
  height: 38px;
  background-image: url(../img/ui/20220304/bt_sh_df.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 94px;
  border: 0;
  vertical-align: -12px;
  cursor: pointer;
}
#shareMedia button:hover {
  background-image: url(../img/ui/20220304/bt_sh_over.png);
}
#shareCam {
  margin: 20px 0;
}
#shareCam #localVideo {
  width: 270px;
}
#shareCam button {
  position: static;
  margin: 0 0 0 5px;
  width: 94px;
  height: 38px;
  background-image: url(../img/ui/20220304/bt_sh_df.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 94px;
  border: 0;
  cursor: pointer;
}
#shareCam button:hover {
  background-image: url(../img/ui/20220304/bt_sh_over.png);
}
#stopShare {
  display: block;
  margin: 10px auto 10px 0;
  width: 100px;
  height: 50px;
  background-image: url(../img/ui/20220304/bt_stop_share.png);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100px;
  border: 0;
  cursor: pointer;
}
#nftShop {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  z-index: 99;
}


#governanceModal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  z-index: 99;
}

#keyGuideModal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 640px;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  z-index: 99;
}

#btnCloseShop {
  position: absolute;
  top: 18.5%;
  right: -3%;
  width: 36px;
  height: 36px;
  background-color: transparent;
  background-image: url(../img/ui/20220304/btn_close_quest.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
  border: 0;
  cursor: pointer;
}
#nftShop img {
  display: block;
  width: 100%;
}

#btnCloseGovernance {
  position: absolute;
  top: -1.5%;
  right: -5%;
  width: 36px;
  height: 36px;
  background-color: transparent;
  background-image: url(../img/ui/20220304/btn_close_quest.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
  border: 0;
  cursor: pointer;
}
#governanceModal img {
  display: block;
  width: 100%;
}

#keyGuideModal img {
  display: block;
  width: 100%;
}

#btnCloseKeyGuideModal {
  position: absolute;
  top: 0%;
  right: -10%;
  width: 36px;
  height: 36px;
  background-color: transparent;
  background-image: url(../img/ui/20220304/btn_close_quest.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
  border: 0;
  cursor: pointer;
}

/* slide ui */
#iglooSwap {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  width: 880px;
  z-index: 99;
  transform: translate(-50%, -50%);
}
#iglooSwap img {
  width: 100%;
  display: block;
}

#btnCloseIgloo {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 5%;
  right: -6%;
  background-image: url(../img/swap/cl.png);
  background-position: center;
  background-size: 36px;
  background-repeat: no-repeat;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
#questBox {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1100px;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  z-index: 99;
}
#questBox img {
  display: block;
  width: 100%;
}
#btnAgree {
  position: absolute;
  bottom: 11.7%;
  right: 11.4%;
  width: 210px;
  height: 64px;
  border: 0;
  cursor: pointer;
  background: none;
}
#btnCloseQuest {
  position: absolute;
  top: -2.5%;
  right: 0%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(../img/ui/20220304/btn_close_quest.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
  border: 0;
  cursor: pointer;
}

/* intro */
#introBtn {
  display: none;
  width: 225px;
  height: 65px;
  background-image: url(../img/ui/20220304/btn_intro.png);
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  background-color: transparent;
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  cursor: pointer;
}

/* npc popup */
.popup {
  display: none;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 1100px;
  z-index: 99;
}
.popup img {
  display: block;
  width: 100%;
}
.popup .page1,
.popup .page2 {
  display: none;
}
#btnCloseCz,
#btnCloseHz {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0;
  top: 30%;
  right: 2%;
}
.btn-next-page {
  position: absolute;
  width: 55px;
  height: 55px;
  padding: 0;
  bottom: 11%;
  right: 2%;
}
.box-lang {
  height: 32px;
  padding: 0 10px 0 28px;
  background-image: url(../img/ui/20220304/language_icon.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 14px;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
}

.box-lang a {
  display: flex;
  padding: 0 3px;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
}

.box-lang a.on {
  color:#7dc12b ;
}

.box-lang a + a::before {
  position: relative;
  top: 5px;
  margin-right: 5px;
  display: flex;
  width: 1px;
  height: 10px;
  content: "";
  background-color: rgba(255,255,255,0.6);
}

#btn-map {
  position: absolute;
  bottom: 1%;
  right: 1%;
  width: 256px;
}

#btn-map img {
  width: 100%;
}

#btn-map .mobile {
  display: none;
}

/* 모바일용 HTML 숨기기  */
#nftShopMobile {
  display: none;
}

#iglooSwapMobile {
  display: none;
}

#mobileMenu {
  display: none;
}

#questBoxMobile {
  display: none;
}

#governanceMobileModal {
  display: none;
}


.mobile-logo {
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 601px;
    margin-top: -200px;
}

#fog {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 98;
  transition: all 1.5s ease-in-out;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
}
#fog.disapear {
  opacity: 0;
  z-index: -1;
}

#preparingModal {
  display: none;
  width: 412px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

#preparingModal img {
  width: 100%;
  display: block;
}

#preparingModal .mo {
  display: none;
}

.box-intro-modal, 
.box-luniverse-modal, 
.box-hiddenmission-modal,
.box-nft-modal,
.box-defi-modal,
.box-synthetics-modal,
.box-aggregator-modal,
.box-world-modal {
  display: none;
  position: absolute;
  width: 1100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.box-intro-modal .btn-close {
  position: absolute;
  display: block;
  width: 230px;
  height: 60px;
  bottom: 110px;
  left: 300px;
}

.box-intro-modal .btn-description {
  position: absolute;
  display: block;
  width: 230px;
  height: 60px;
  bottom: 110px;
  right: 330px;
}

.box-intro-modal img, 
.box-luniverse-modal img,
.box-nft-modal img,
.box-defi-modal img,
.box-synthetics-modal img,
.box-aggregator-modal img,
.box-world-modal img {
  width: 100%;
}

.box-defi-modal .btn-close,
.box-synthetics-modal .btn-close,
.box-aggregator-modal .btn-close,
.box-world-modal .btn-close {
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  right: -80px;
  top: 0px;
}

.box-nft-modal img {
  display: none;
}

.box-nft-modal img.show {
  display: block !important;
}

.box-nft-modal img.p5 {
  display: block;
  width: 594px;
  margin: 0 auto;
}

.box-aggregator-modal img.p2 {
  display: none;
}

.box-world-modal img.p1,
.box-world-modal img.p2,
.box-world-modal img.p3,
.box-world-modal img.p4 {
  display: none;
}

.box-world-modal img.show {
  display: block !important;
}

.box-aggregator-modal .box-action,
.box-world-modal .box-action{
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 131px;
  display: flex;
}

.box-aggregator-modal .box-action .btn-prev,
.box-aggregator-modal .box-action .btn-next,
.box-world-modal .box-action .btn-prev,
.box-world-modal .box-action .btn-next {
  position: absolute;
  display: block;
  width: 50%;
  height: 56px;
  top: 0;
  left: 0;
}

.box-aggregator-modal .box-action .btn-next,
.box-world-modal .box-action .btn-next {
  left: 65px;
}

.box-luniverse-modal .btn-close {
  position: absolute;
  width: 230px;
  height: 60px;
  left: 420px;
  bottom: 110px;
}

.box-luniverse-modal .btn-twitter, .box-luniverse-modal .btn-discord {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
}

.box-luniverse-modal .btn-discord {
  left: 470px;
  bottom: 280px;
}

.box-luniverse-modal .btn-twitter {
  left: 440px;
  bottom: 225px;
}

#leftUi .btn-discord, #leftUi .btn-twitter {
  position: absolute;
  width: 86px;
  left: 20px;
  bottom: 20px;
}

#leftUi .btn-discord {
  bottom: 110px;
}

#leftUi .btn-discord img, #leftUi .btn-twitter img {
  width: 100%;
  display: block;
}

.box-hiddenmission-modal img {
  display: block;
  width: 594px;
  margin: 0 auto;
}

.box-hiddenmission-modal .btn-copy {
  position: absolute;
  width: 366px;
  height: 60px;
  left: 374px;
  bottom: 124px;
}

.box-hiddenmission-modal .btn-close {
  position: absolute;
  width: 230px;
  height: 60px;
  left: 435px;
  bottom: 38px;
}

.box-nft-modal .box-action-type2, 
.box-nft-modal .box-action-type3 {
  display: none;
}

.box-nft-modal .box-action-type1 a {
  position: absolute;
  bottom: 65px;
  left: 430px;
  display: block;
  width: 230px;
  height: 60px;
}

.box-nft-modal .box-action-type2 {
  position: absolute;
  bottom: 54px;
  left: 294px;
}

.box-nft-modal .box-action-type2 a {
  display: inline-block;
  width: 230px;
  height: 60px;
  margin: 0 10px;
}

.box-nft-modal .box-action-type3 a {
  bottom: 38px;
  position: absolute;
  left: 436px;
  display: block;
  width: 230px;
  height: 60px;
}

.box-nft-modal .box-action-type3 a.btn-copy {
  bottom: 123px;
  position: absolute;
  left: 366px;
  display: block;
  width: 380px;
  height: 60px;
}

.box-nft-modal .box-tab-menu {
  position: absolute;
  top: 114px;
  left: 329px;
}

.box-nft-modal .box-tab-menu a {
  display: inline-block;
  width: 99px;
  height: 46px;
  margin: 0 3px;
}

.img-mobile {
  display: none !important;
}

#BtnAboutUs {
  position: fixed;
  bottom: 50%;
  right: 20px;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  z-index: 111;
}

body {
  background: blue;
}

.wrap-html {
  display: none;
  position: fixed;
  z-index: 110;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.wrap-html .box-content {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.wrap-html .box-content .box-section {
  height: 100vh;
}

.wrap-html .box-content .box-section1 {
  background: rgba(255,255,255,.1);
}